*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   min-height:100vh;
}

.container{
    max-width: 90vw;
    height: auto;
    padding: 2rem 1rem;
    margin: 0 auto;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

a{
    text-decoration:none;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    height: auto;
    width: 306px;
}

.cardTitleContainer {
    padding-left: 10px;
}
.authorAvatarContainer{
    flex-shrink: 0;
}

.authonContainer{
    padding-top: 25px;
    padding-bottom:20px;
    display:flex;
    align-items:center;
    gap:10px;
}

.authorAvatarContainer img{
    width:40px;
    height:40px;
}

.authorInfo{
    display: flex;
    flex-direction: column;
}

.tag-btn{
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: none;
}

.imageSection{
    padding-bottom: 25px;
}

.cardTitle{
    padding-bottom: 10px;
}

.cardFooterContainer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 12px 12px 12px;
    width: 100%;
}