*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: auto;
}

.container{
    max-width: 90vw;
    height: auto;
    padding: 2rem 1rem;
    margin: 0 auto;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

a{
    text-decoration:none;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    height: auto;
    width: 306px;
}

.cardTitleContainer {
    padding-left: 10px;
}

